 <%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag "chart", "highcharts", "exporting"  %>
<div class="span10">



<div class="well">
    <div id="chart"></div>
</div>



<div class="row-fluid">
    <div class="span4 well">
        <div class="accordion" id="accordionQuickV">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
                       data-toggle="collapse" data-parent="#accordion2" href="#collapseQuickV">
                        <i class="icon-eye-open"></i> Vista Rapida <i class="icon-minus pull-right"></i>
                    </a>
                </div>
                <div id="collapseQuickV" class="accordion-body collapse in">
                    <div class="accordion-inner" style="background-color: #ffffff;">

                        <div class="row-fluid">
                            <div class="span6">
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Secciones</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span class="label label-success">0</span></td>
                                        <td><i class="icon-list-alt"></i>Noticias</td>

                                    </tr>
                                    <tr>
                                        <td><span class="label label-success">0</span></td>
                                        <td><i class="icon-calendar"></i>Fechas</td>

                                    </tr>
                                    <tr>
                                        <td><span class="label label-success">0</span></td>
                                        <td><i class="icon-copy"></i>Estudios</td>

                                    </tr>
                                   

                                    </tbody>
                                </table>
                            </div>




                            <div class="span6">
                                <table class="table ">
                                    <thead>
                                   
                                    </thead>
                                    <tbody>
                        

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
<div class="span6 well">
        <div class="accordion" id="accordionEvent">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
                       data-toggle="collapse" data-parent="#accordion2" href="#collapseEvent">
                        <i class="icon-check"></i> Cambiar Parametro <i class="icon-minus pull-right"></i>
                    </a>
                </div>
                <div id="collapseEvent" class="accordion-body collapse in">
                    <div class="accordion-inner" style="background-color: #ffffff;">
                        <div class="row-fluid form-actions" >
                         <form>
<div class="input-prepend input-append">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Parametro
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      ...
    </ul>
  </div>
  <input class="span2" id="appendedPrependedDropdownButton" type="text">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Fecha
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      ...
    </ul>
  </div>
</div>
  <div class="input-append">
    <input type="text">
    <div class="btn-group">Fecha</div>

  </div>
</form>
   <button type="submit" class="btn btn-primary">Aceptar</button>

            </div>

        </div>
    </div>
    <!--/span-->


</div>